/* From Uiverse.io by csozidev */ 
/* Gender selector made by: csozi | Website: www.csozi.hu*/

.radio-input {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: fit-content;
    gap: 10px;
    scale: 0.7;
  }
  
  .radio-input input {
    height: 100px;
    width: 100px;
    translate: 0px 55px;
    opacity: 0;
    z-index: 10;
  }
  
  .card {
    height: 100px;
    width: 100px;
    border: solid darkgray;
    background-color: lightgray;
    border-radius: 10px;
    translate: 0px -55px;
    position: relative;
    z-index: 9;
    transition: 0.2s;
    color: darkgray;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0px;
  }
  
  .card .title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 23px;
    bottom: 0px;
    font-weight: bold;
  }
  
  .i_female:hover ~ .female {
    filter: brightness(1.1);
  }
  
  .i_male:hover ~ .male {
    filter: brightness(1.1);
  }
  
  .i_no-gender:hover ~ .no-gender {
    filter: brightness(1.1);
  }
  
  .i_female:checked ~ .female {
    border: solid #ff87bf;
    color: #ff87bf;
    background-color: #ffb8d9;
  }
  
  .i_male:checked ~ .male {
    border: solid #3d44ff;
    color: #3d44ff;
    background-color: #85a5ff;
  }
  
  .i_no-gender:checked ~ .no-gender {
    border: solid #c9c600;
    color: #c9c600;
    background-color: #fffd82;
  }